name: CI Pipeline

permissions:
  contents: read
  packages: write

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test-build-push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: |
          python -m pip install --upgrade pip
          pip install -r app/requirements.txt
          pip install pytest

      - run: pytest app/test
        env:
          PYTHONPATH: ${{ github.workspace }}

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: phantom22857
          password: ${{ secrets.PERSONAL_ACCESS_TOKEN }}


      - run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/asi:latest -f app/Dockerfile app

      - run: |
          docker push ghcr.io/${{ github.repository_owner }}/asi:latest
